body {
  background: #41B3A3;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

/* Header Styling */
.header {
  background-color: #0D453E;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #FFFFFF;
  font-size: 13px;
  padding: 10px;
}

/* Status bar */
.tempStatus {
  color: #000000; 
  text-align: center;
}

/* Form Styling  */
.form-container {
  width: 400px;
  margin: auto;
}

.form-title {
  font-size: 25px;
  padding: 30px 0px 25px 0px;
}

.form-box-login {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 0px 45px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 #00000020, 0 5px 5px 0 #00000025
}

.form-box-review {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 0px 45px 45px 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 #00000020, 0 5px 5px 0 #00000025
}

.form-box-result {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 #00000020, 0 5px 5px 0 #00000025
}

.errorMessage {
  position: absolute;
  left:0;
  right:0;
  margin-left: auto;
  margin-right: auto;
  font-size: 12px;
  color: #FF0000;
  margin-top: 15px;
}

/* Form input group styling */
input, select, textarea {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #F0F0F0;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 13px;
}

#review-textarea {
  height: 100px;
  resize: none;
  vertical-align: middle;
}

option {
  text-align: center;
}

button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #E27D60;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

/* Result Page Text Styling */
.result-message {
  font-size: 14px;
  margin-bottom: 10px;
}

.result-course {
  font-size: 16px;
  font-weight: 500;
}

.result-rating {
  font-size: 35px;
  margin: 15px 0 15px;
}

.result-review-card {
  padding: 10px;
  margin-bottom: 10px;
}

.result-review {
  font-size: 16px;
  font-style: italic;
  margin: 15px;
}

.result-user {
  font-size: 12px;
  font-style: italic;
  margin-bottom: 10px;
}